* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Epilogue", sans-serif;
}

.navbar_logo {
  width: 200px;
}

/* Efecto menu */

.snip1217 {
  text-align: center;
  letter-spacing: 1px;
}
.snip1217 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1217 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}
.snip1217 a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.snip1217 a:before,
.snip1217 a:after {
  height: 5px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #f0ad4e;
  width: 0;
}
.snip1217 a:before {
  top: 0;
  right: 0;
}
.snip1217 a:after {
  bottom: 0;
  left: 0;
}
.snip1217 a:hover,
.snip1217 .current a {
  color: rgb(241, 170, 4);
  font-weight: 800;
}
.snip1217 a:hover:before,
.snip1217 .current a:before,
.snip1217 a:hover:after,
.snip1217 .current a:after {
  width: 100%;
}

.bg-custom {
  background: linear-gradient(
    to right,
    hsla(34, 70%, 59%, 0.664),
    hsla(27, 59%, 70%, 0.459)
  );
}

header {
  width: 100%;
  height: 600px;
  background: #ad8353;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      hsla(34, 70%, 59%, 0.664),
      hsla(27, 59%, 70%, 0.459)
    ),
    url(../img/img2.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      hsla(34, 70%, 59%, 0.664),
      hsla(27, 59%, 70%, 0.459)
    ),
    url(../img/img2.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

header .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h1 {
  font-size: 35px;
  color: rgb(65, 53, 42);
  font-weight: 300;
}

.h1-muted {
  font-weight: 700;
}

.textos-header h2 {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}

@media (min-width: 321px) {
  .textos-header h1 {
    font-size: 60px;
    color: rgb(65, 53, 42);
  }
  .textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
  }
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Estilos generales */

.contenedor,
.wave-contenedor {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
}
.contenedor {
  padding: 80px 0;
}

.titulo {
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.titulo.left {
  text-align: center;
}

.titulo.right {
  text-align: right;
}

/* Section */

.website {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website .contenedor-textos-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .titulo.left {
    text-align: left;
  }
  .website img {
    width: 55%;
  }

  .website .contenedor-textos-main {
    width: 40%;
  }
}

.parrafo {
  text-align: justify;
  margin-bottom: 20px;
}

/* Slider valores */

.slider-chico {
  width: 55%;
  margin: auto;
  overflow: hidden;
}

.slider-chico ul {
  padding: 0;
  display: flex;
  width: 400%;

  animation: cambio 15s infinite;
  animation-direction: alternate;
}

.slider-chico li {
  width: 100%;
  list-style: none;
}

.slider-chico img{
  width: 100%;
}

@keyframes cambio{
  0% { margin-left: 0;}
  20% { margin-left: 0;}

  25% { margin-left: -100%;}
  45% { margin-left: -100%;}

  50% { margin-left: -200%;}
  70% { margin-left: -200%;}

  75% { margin-left: -300%;}
  100% { margin-left: -300%;}
}

/* Botón back to top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  color: #b12222;
  font-size: 50px;
  background: none;
}

#myBtn:hover {
  color: #555;
}

/* Carruzel */

.eventos_heading {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: #f0ad4e;
  margin-bottom: 3rem;
}

.footer_heading{
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #f0ad4e;
  margin-bottom: 2rem;
}

.eventos_heading-muted {
  font-weight: 300;
}

/* Carousel base class */
.carousel {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.carou_heading{
  font-size: 35px;
  font-weight: 700;
  color: #f0ad4e;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

/* Modificaciones cards */

.productos_heading {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #f0ad4e;
  margin-bottom: 3rem;
}

.productos_heading-muted {
  font-weight: 300;
}

.img_comida {
  height: 240px;
}

.chiqui {
  font-size: 1rem;
  font-weight: 800;
  line-height: 5px;
}

.cito1:hover {
  color: blue;
  font-size: large;
}
.cito2:hover {
  color: green;
  font-size: large;
}

.pos-top {
  padding-top: 15px;
}

.pos-bot {
  position: relative;
  top: -5px;
}

.positex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.positex-in {
  padding: 5px;
}

/* Footer */

.footer {
  bottom: 0;
  width: 100%;
  height: auto;
  line-height: 20px;
  padding: 40px;
  background: linear-gradient(
    to right,
    hsla(34, 70%, 59%, 0.664),
    hsla(27, 59%, 70%, 0.459)
  );
  text-align: center;
}

.caja {
  padding-bottom: 30px;
}

.rrss {
  text-decoration: none;
  color: #ffae00;
}

.fab {
  padding: 0 1rem 0 1rem;
}

/* Testimonios */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.sepa {
  padding-top: 15px;
}

.featurette {
  align-items: center;
}

.featurette-divider {
  margin: 4rem 0;
  height: 5px;
  background-color: #ffae00;
}

hr {
  border: none;
  height: 1px;
  color: white;
  background-color: white;
  opacity: 0, 25;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

.featurette-image {
  margin-top: 50px;
}

.con_text {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.testi_sub-ti {
  font-size: 25px;
  font-weight: 600;
  color: #f0ad4e;
}

.testi_sub-ti-muted {
  font-weight: 200;
}

@media (min-width: 992px) {
  .featurette-image {
    margin-top: 0;
  }
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 40px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
  }
}

/* not active */
.nav-pills .pill-c .nav-link:not(.active) {
  background-color: rgba(255, 174, 0, 0.5);
  color: #555555;
}

/* active (faded) */
.nav-pills .pill-c .nav-link {
  background-color: #ffae00;
  color: white;
}

.form-inline {
  display: grid;
}

@media (min-width: 992px) {
  .form-inline {
    display: block;
  }
}